@import "../../../../styles.scss" ; 

.social-media
{
    position:relative;
    z-index: 2;
    width: 100%; 
    background-color: $mainbackcolor;
    border-top: 1px solid $squarebackcolor;
    //padding:10px ;
    overflow:hidden;
    .socialmedia-row
    {
        position: relative;
        z-index: 1;
        display: flex;
        flex-wrap:wrap;
        justify-content: start;
        text-align: center;
        .socialmedia-col
        {  
             padding: 10px;
            p{ 
                color: $mainWhitecolor;
                 font-size:15px; 
            }
            .socialmedia-link{
                color: $maincolor;
                img{ width:25px; height: 25px;}  
            }

        }
    }

}

@media only screen and (max-width:500px)
{
 .socialmedia-row{
     justify-content: center;
     
 }
}
