<div class=" container main">
    <div class="maincontent">
        <h1> This is trying of arrays function </h1>


        <div>
            <p> change array to string using (tostring( )) </p>
            <p> {{ Arrayone }} </p>
            <p> {{Arrtostring}}</p>
        </div>

        <div>
            <p> join 2 array together (join("and"))</p>
            <p> {{ Arrayresult2}}</p>
        </div>

        <div>
            <p> (pop())</p>
            <p> {{ Arrayresult3}} ( deleted ) <br>
                {{Array2}} (remaining ele )
            
            </p>
        </div>

        <div>
            <p> (push())</p>
            <p> {{ Arrayresult4}} ( added ) <br>
                {{Array1}} (remaining ele )
            
            </p>
        </div>
  
        <div>
            <p> (shift())</p>
            <p> {{ Arrayresult5}} ( deleted ) <br>
                {{Array2}} (remaining ele )
            
            </p>
        </div>

        <div>
            <p> (unshift())</p>
            <p> {{ Arrayresult6}} ( added ) <br>
                {{Array2}} (remaining ele )
            
            </p>
        </div>

        <div>
            <p> (lenght())</p>
            <p> 
                {{Arrayresult7}}
            
            </p>
        </div>

        <div>
            <p> ( Delete[   ] )</p>
            <p> {{ Arrayresult8}} (  ) <br>
                {{Array1}} (remaining ele )
                {{Array1[0]}}
            
            </p>
        </div>

        <div>
            <p> ( splice ( ) => Add  )</p>
            <p> {{ Array2}} <br>

                 {{Arrayresult9}}
            </p>
        </div>
        
        <div>
            <p> ( splice ( ) => delete  )</p>
            <p> 

                 {{Arrayresult10}} //deleted  <br> 
                 {{Array3}} // remaining 
            </p>
        </div>

        <div>
            <p> ( concat ( ) => delete  )</p>
            <p> 

                 {{Arrayresult11}}
            </p>
        </div>

        <div>
            <p> ( tostring ( )  , tolocalstring( )=>   )</p>
            <p> 

                 {{result1}} <br> {{result2 }}
            </p>
        </div>

        <div>
            <p> ( sort( )  => reverse()   )</p>
            <p> 

              Sort > >    {{Arrayresult13}} <br>
              reverse > > {{Arrayresult14}}
            </p>
        </div>

        <div>
            <p> ( Indexof( )   )</p>
            <p> 

               index >>   {{Arrayresult15}} <br>
               value of it {{ Arrayresult16}}

               lastindexof >> {{Arrayresult17}}
            
            </p>
        </div>

        <div>
            <p> (Array.of( )   )</p>
            <p> 
             Array >>    {{Arrayresult18}}   <br> 
             Lenght = > {{ Arrayresult19}}
            </p>
        </div>

        <div>
            <p> (Array.from( )   )</p>
            <p> 
             Array >>    {{Arrayresult20}}   <br> 
            </p>
        </div>

        <div>
            <p> (Array.fill( )   )</p>
            <p> 
             Array >>    {{Arrayresult21}}   <br> 
            </p>
        </div>

        <div>
            <p> (Array.find( )   )</p>
            <p> 
             ele >>    {{Arrayresult22}}   <br> 
             <!--index >> {{Arrayresult23}}-->
            </p>
        </div>

        <div>
            <p> (Array.copywithin( )   )</p>
            <p> 
             new array  >>    {{Arrayresult24}}   <br> 
            </p>
        </div>

        <div>
            <p> (Array.map( )   )</p>
            <p> 
             new array  >>    {{Arrayresult25}}   <br> 
            </p>
        </div>
        

        
        <div>
            <p> (Array.filter( )   )</p>
            <p> 
             new array  >>    {{Arrayresult26}}   <br> 
            </p>
        </div>

        <div>
            <p> (Array.foreach( )   )</p>
            <p> 
             new array  >>    {{Arrayresult27}}   <br> 
            </p>
        </div>

        <div>
            <p> (Array.every( )   )</p>
            <p> 
             every result  >>    {{Arrayresult29}}   <br> 
             some resukt  >>   {{Arrayresult30}} 
            </p>
        </div>
    </div>

    
</div>