
@import '../about-drop-down-menu/about-drop-down-menu.component.scss';
/*
.dropDownUl
{
    padding:10px;
    position:relative;
    list-style-type: none;
    z-index: 1;
    border: 1px solid transparent;
    box-shadow:10px 10px 10px transparent;
    .dropDownLi
    {
        padding:10px 10px; 
        margin: 5px;
        font-size: 15px;
        cursor: pointer;
    }
}*/