/* You can add global styles to this file, and also import other style files */
@import"~bootstrap/dist/css/bootstrap.css" ; 
$mainbackcolor: black ; 
$maincolor : #d7bb4a ; 
$mainWhitecolor:white ; 
$maingraycolor : gray ; 
$squarebackcolor:#0c0c0c ;
*
{
    box-sizing: border-box;
    //color: white;
}

body
{
 background-color: $mainbackcolor ;
}

.maincolor
{
    color: $maincolor;
}

body::-webkit-scrollbar
{
    background-color: $mainbackcolor ;  
    width:3px;  
}
body::-webkit-scrollbar-thumb
{
    background-color:$maincolor;
}


a:hover{
    text-decoration: none;
    cursor: pointer;
}

a
{
    color: $maincolor;
    &:hover{
        color: $mainWhitecolor;

    }
}


form
        {
            %formitem
            {
                width: 95%;
                height:40px;
                padding:3px;
                color: $mainWhitecolor;
                font-size: 15px;
                background-color: transparent;
                border: 1px solid $maingraycolor;
                border-radius: 5px;
                &:focus-within
                {
                    outline-color: $maincolor;
                    border-radius: 5px;
                }
               
            }
            ::placeholder
            {
                color: $mainWhitecolor;
            }

            %formbutton 
            {
                width: 130px;
                font-size:15px;
                padding: 10px; 
                margin: 10px;
                color: $maincolor;
                border:1px solid $maincolor;
                border-radius: 10px;
                background-color: transparent;
                &:hover
                {
                    border:1px solid $mainWhitecolor;
                    color: $mainWhitecolor;
                }
            }
            .valid
            {
                background-color:red;
                color:$mainWhitecolor;
                width:130px;
                height:15px;
                text-align: center;
                //padding: 5px;
                //margin: 0 10px  ;
                border-radius:10px;

            }
        }